html, body, #tv {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

@font-face {
    font-family: 'FSEX300';
    src: url('FSEX300.ttf');
}

#tv {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}


@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    font-family: 'Comfortaa', cursive;
}
#list {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.item {
    font-size: 125px;
    display: inline-block;
    display: none;
    opacity: 0.3;
    font-family: 'FSEX300';
}
p {
    font-size: 70px;
    opacity: 0.5;
}
.red {
    color: white;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
#links {
    opacity: 0.2;
}