html, body, #tv {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

@font-face {
    font-family: 'FSEX300';
    src: url('FSEX300.ttf');
}

@font-face {
    font-family: 'Monoton';
    src: url('Monoton-Regular.ttf');
}

#tv {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
#list {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.item {
    font-size: 125px;
    color: white;
    display: inline-block;
    display: none; /* needed for the glitch animation */
    font-family: 'FSEX300';
}
p {
    font-size: 70px;
    opacity: 0.5;
}

#links {
    opacity: 0.2;
}

.flicker-slow {
    animation: flicker 3s linear infinite;
}

.flicker-fast {
    animation: flicker 1s linear infinite;
}

@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: .99;

    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
    }
}