:root {
    --thunder-dark-color: rgba(34, 34, 34, 0.9);
    --thunder-light-color: rgba(59, 59, 59, 0.3);
}

html, body, #tv {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

@font-face {
    font-family: 'FSEX300';
    src: url('FSEX300.ttf');
}

@font-face {
    font-family: 'Monoton';
    src: url('Monoton-Regular.ttf');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
#list {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.item {
    font-size: 125px;
    color: white;
    display: inline-block;
    font-family: 'FSEX300';
}
p {
    font-size: 70px;
    opacity: 0; 
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body,
canvas {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #222;
    position: relative;
    z-index: 0;
}

body:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.1); */
    z-index: 1;
    -webkit-animation: thunder-bg 6s infinite;
    animation: thunder-bg 6s infinite;
    pointer-events: none;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#canvas2 {
    z-index: 10;
}

#canvas1 {
    z-index: 100;
}

@-webkit-keyframes thunder-bg {

    0%,
    9%,
    10.5%,
    80%,
    83%,
    100% {
        background-color: var(--thunder-dark-color);
    }

    10%,
    82%,
    83.5% {
        background-color: var(--thunder-light-color);
    }
}
